.non-mobile-view {
  display: none;
}

body{
  text-align: center;
}



.container {
  background-color: transparent;
  padding-bottom: 50px;
  text-align: center;    
}

    .main-nav {
      text-align: center;
      display: block;
      font-size: 2em;
      margin-top: 0px; 
      color: slategray;     
    }

    .nav {
      display: block;
      font-weight: 700;
      list-style-type: none;
      font-family: 'Pathway Gothic One', sans-serif;  
      margin-top: 0px;
      color: black;
    }

    .nav li {
      color: slategray;
    }

    a:visited {
      color: black;
    }

    p .name {
      font-family: 'Vidaloka', serif;
      font-size: 1em;
    }

    .nav .name {
      background-color: transparent;
      font-size: 2em;
      display: block;
      margin-top: 0px;
      padding-bottom: 20px;
      margin-right: auto;
      color: black;
      font-family: 'Vidaloka', serif;
    }

    .realtor-title {
      font-family: 'Vidaloka', serif;
      text-align: center;
      display: inline-block;
      /* font-size: 2em; */
      margin: 0px;
 
    }

    .nav li {
      background-color: transparent;
      padding: 5px 10px 10px 10px;
      margin: 6px;
    }

ul {
  padding: 6px;
}

    .nav a {
      text-transform: uppercase;
      text-decoration: none;
      transition: all .5s;
    }

    .nav a:hover {
      color: rgba(112, 128, 144, 0.575);
    }
   
 .profile-image img {
   padding: 0px;
}

.profile-image p {
  font-family: 'Vidaloka', serif;
  /* text-align: center;
  justify-content: center; */
  display: block;
  font-size: 3.5em;
  margin-bottom: 0px;
}

 /* This <img> targets all the project images --------------------*/
    img{
      max-width: 95%;
      padding: 30px 10px 20px;
    }

img p {
  text-align: center;
  padding: 20px 100px 20px;
  

}

    .header {
      background: white;
      min-height: 300px;
      text-align: center;      
    }

    p {
      display: inline-block;
      font-size: 1.5em;
      padding: 20px 40px;
    } 

    .about {
      text-align: center;
      display: inline-block;
      padding: 20px 40px;     
    }

     p {
      text-align: center;
      display: inline;
      padding: 20px 40px;     
    }
    
    h1 {
      background-color: transparent;
      text-align: center;
      /* padding: 40px 30px 10px; */
      padding-bottom: 10px;
      margin-bottom: -15px;
    }

    h2 {
      text-align: center;
      margin: 10px 0px 5px;
    }    
    
    .portfolio {
      background-color: white;
      text-align: center;
      float: none;
      padding-top: 5px;
    } 

/*-----SUBMIT BUTTON------------ */
button[type="submit"] {
  font-size: 1.5em;
  padding: 20px 20px;
  cursor: pointer;
  background-color: #52bab3;
  color: white;
  width: 95%;
  border-radius: 5px;
  border: none;
  margin-top: 10px; 
  margin-bottom: 20px; 
  outline: none;  
}


    .group:after {
      content: "";
      display: table;
      clear: both;
    }

    .block button {
      text-align: center;
    }

    .block p {
      padding: 0px 20px 15px;
    }

    p {
      text-align: center;
    }

    .skills {     
      padding: 20px;
      font-size: 1.30em;
      color: black;
    }
  
.portfolio .block {
  background-color: transparent;
}

.skills li {
  font-size: 1em;
  display: inline-block;
  margin-left: 25px;
  padding-left: 25px;
  padding: 15px;
  font-weight: bold;  
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;  
}

    .footer {
      min-height: 30px;
      padding: 10px;
      text-align: center;
      display: inline;
      text-align: center;
      font-size: 1.5em;
    }

.main-footer h2 {
  text-align: center;
}

.main-footer p {
  text-align: center;
  padding: 10px 0px;
  display: block;
}

.footer-nav {
  display: none;
}

    .mobile-view {
      display: flex;
      justify-content: space-around;
      font-weight: 700;
      list-style-type: none;
      margin: 6px;
      border-top: 1px solid rgba(112, 128, 144, 0.575);
    }

    .mobile-view .name {
      font-size: 1.5em;
      display: block;
      text-align: left;
      margin-right: auto;
      color: black;
      font-family: 'Vidaloka', serif;
    }

    .mobile-view li {
      padding: 15px 10px 15px 10px;
      font-family: 'Pathway Gothic One', sans-serif;
    }

    .mobile-view a {
      font-size: 1.25em;
      text-transform: uppercase;
      text-decoration: none;
      transition: all .5s;
    }

    .mobile-view a:hover {
      color: red;
    } 
   
    .block {
      text-align: center;
      display: inline-grid;
      background-color: white;
    }    

    p {
      text-align: center;
    }


/*------------------------ Media Queries --------------------*/

/* Tablet View --------------------*/
      @media (min-width: 768px) {
        /* * {
          box-sizing: border-box;
        } */

        body{
          background: url("../images/apartment-chair-clean-contemporary-279719.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          background-size: contain;
        }
        .name .img {
          width: 100%;
          height: 65%;
        }

        .nav .name {
          display: block;
          color: black;
          padding-left: 0%;
          padding-top: 0%;
        }

        .nav li {
          display: inline-block;
          padding-top: 5%;
        } 
        
        .nav{
          display: flex;
        }

        .profile-image {
          width: 16%;
          margin-top: -5%;
          margin-left: 30px;
          /* margin-top: -20%;
          margin-right: 61px; */
          float: left;
          font-weight: bold;   
          text-align: center;      
          }

          .profile-image p {
            font-family: 'Vidaloka', serif;
            /* text-align: left;
            justify-content: left;
            display: inline; */
            font-size: 1.7em;
            margin-bottom: 0px;
          }

          .profile-image img {
            display: block;  
          }

        .realtor-title {
          text-align: center;
          font-size: 1em;                 
        }

        .portfolio {
          padding-top: 0px;
        }

        img{
          padding: 30px 10px 0px 15px;       
        } 

        .image {
          border: 5px solid grey;
        }

        h1 {
          margin-top: 340px;
        }

        .about {
          margin-top: 15px;
        }
         
        .header p {
         display: block;
         font-size: 1.5em;
         padding: 0px 5px 0px 50px;         
        } 
        .portfolio {
          padding-top: 0px;
        } 
            
.block {
  max-width: 40%;
  padding: 20px;
}

.mobile-view {
  display: none;
}

button[type="submit"] {
  width: 100%;
  display: block;
  text-align: center;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 6px;
  border-top: 1px solid rgba(112, 128, 144, 0.575);
  font-family: 'Vidaloka', serif;
}

.footer-nav .name {
  font-size: 1.5em;
  display: block;
  text-align: left;
  margin-right: auto;
  color: black;
  font-family: 'Vidaloka', serif;
}

.footer-nav li {
  font-size: 1.25em;
  padding: 15px 10px 15px 10px;
  font-family: 'Pathway Gothic One', sans-serif;
  
}
 
.footer-nav a {
  text-transform: uppercase;
  text-decoration: none;
  transition: all .5s;
  color: black;
}

.footer-nav a:hover {
  color: rgba(112, 128, 144, 0.575);
}
}

/* Desktop View --------------------*/
@media (min-width: 1024px) {

  body{
    background: url("../images/apartment-chair-clean-contemporary-279719.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
  }

.nav{
  display: flex;
}

.realtor-title {
  padding: 0px;
  margin: 0px;
  background: gray;
}

  .profile-image {
    width: 16%;
    margin-top: 1.5%;
    margin-left: 86px;
    /* margin-top: -20%;
    margin-right: 61px; */
    float: left;
    font-weight: bold;  
    text-align: center;        
    }

    .profile-image p {
      font-family: 'Vidaloka', serif;
      display: block;
      font-size: 2.3em;
      margin-bottom: 0px;
      font-weight: bold;
    }

.profile-image img {
  display: block;  
}

header {
  /* background: url("../images/canal.jpg") no-repeat top center ; */
  text-align: center;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}

.header {
  min-height: 320px;
  margin-top: 0px;
  text-align: left;
}

.header p {
  display: block;
  font-size: 1.5em;
}

h1 {
  background-color: transparent;
  text-align: center;
  /* padding: 40px 30px 10px; */
  padding-bottom: 0px;
  margin-bottom: -15px;
  padding-top: 20%;
}

.about {
  margin-top: 15px;
}

.portfolio {
  padding-top: 0px;
}

.block {
  max-width: 25%;
  padding: 20px;
}

.nav .name {
  padding-left: 3%;
  width: 50%;
  text-align: left;
  font-family: 'Vidaloka', serif;
}

.nav li {
  padding-right: 3%;
  background-color: transparent;
}

button[type="submit"] {
  width: 100%;
  display: block;
  text-align: center;
}

.mobile-view {
  display: none;
}

.footer-nav {
  text-align: left;
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 6px;
  border-top: 1px solid rgba(112, 128, 144, 0.575);
}

.footer-nav .name {
  font-size: 1.5em;
  display: block;
  text-align: left;
  margin-right: auto;
  color: black;
  font-family: 'Vidaloka', serif;
}

.footer-nav li {
  font-size: 1.25em;
  padding: 15px 10px 15px 10px;
  font-family: 'Pathway Gothic One', sans-serif;
}
 
.footer-nav a {
  text-transform: uppercase;
  text-decoration: none;
  transition: all .5s;
}

.footer-nav a:hover {
  color: rgba(112, 128, 144, 0.575);
}
}

