body {
  background-color: whitesmoke;
  text-align: center;
}    

.container {
  background-color: white;
  padding-bottom: 50px;
  text-align: center;
}
    
    .main-nav {
      text-align: center;
      display: block;
      font-size: 2em;
    }

    .nav {
      display: block;
      font-weight: 700;
      list-style-type: none;
      font-family: 'Pathway Gothic One', sans-serif;
      
    }

    .nav .name {
      background-color: whitesmoke;
      font-size: 50px;
      display: block;
      margin-top: 0px;
      padding-bottom: 20px;
      margin-right: auto;
      color: black;
      font-family: 'Courgette', cursive;
    }

    .nav li {
      background-color: white;
      padding: 5px 10px 10px 10px;
      margin: 6px;
    }

ul {
  padding: 6px;
}

    .nav a {
      text-transform: uppercase;
      text-decoration: none;
      transition: all .5s;
    }

    .nav a:hover {
      color: rgba(112, 128, 144, 0.575);
    }

    /* .nav a:visited {
      color: black;
    } */

 .profile-image img {
   padding: 0px;
 }

 /* This <img> targets all the project images --------------------*/
    img{
      max-width: 95%;
      padding: 30px 0px 20px;
    }



img p {
  text-align: center;
  padding: 20px 100px 20px;
}

    .header {
      background: whitesmoke;
      min-height: 300px;
      text-align: center;
    }

    .header p {
      display: inline-block;
      font-size: 1.5em;
      padding: 20px 40px;
    } 

     p {
      text-align: center;
      display: inline;
      padding: 20px 40px;
     
    }
    
    h1 {
      text-align: center;
      padding: 60px 30px 10px;
      background-color: white;
    }

    .block p {
      /* Padding: 20px; */

    }
    
    .portfolio {
      background-color: white;
      text-align: center;
      float: none;
      padding-top: 5px;
    } 

    .group:after {
      content: "";
      display: table;
      clear: both;
    }

    .block p {
      padding: 20px 0px 60px;
    }
    
    h2 {
      text-align: center;
    }

             
    p {
      text-align: center;
    }

    .skills {
      /* background-color: white; */
      margin: 6px;
      font-size: 1.25em;
    }
  
.portfolio .block {
  background-color: white;
}

.skills li {
  font-size: 1em;
  display: inline-block;
  margin-left: 25px;
  padding-left: 25px;
  padding: 15px;
  font-weight: bold;
  /* list-style-type: none; */
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
   /* text-decoration: none; */
   /* border: 3px solid slategray; */
}

    .footer {
      min-height: 30px;
      padding: 10px;
      text-align: center;
      display: inline;
      text-align: center;
      font-size: 1.5em;
    }

.main-footer h2 {
  text-align: center;
}

.main-footer p {
  text-align: center;
  padding: 10px 0px;
  display: block;
}

.footer-nav {
  display: none;
}

    .mobile-view {
      display: flex;
      justify-content: space-around;
      font-weight: 700;
      list-style-type: none;
      margin: 6px;
      border-top: 1px solid rgba(112, 128, 144, 0.575);
    }

    .mobile-view .name {
      font-size: 1.5em;
      display: block;
      text-align: left;
      margin-right: auto;
      color: black;
      font-family: 'Courgette', cursive;
    }

    .mobile-view li {
      padding: 15px 10px 15px 10px;
      font-family: 'Pathway Gothic One', sans-serif;
    }

    .mobile-view a {
      font-size: 1.25em;
      text-transform: uppercase;
      text-decoration: none;
      transition: all .5s;
    }

    .mobile-view a:hover {
      color: rgba(112, 128, 144, 0.575);
    }

    

    /* .group {
      overflow: auto;
    } */

    .block {
      text-align: center;
      display: inline-grid;
      background-color: white;
    }    

    p {
      text-align: center;
    }


/*------------------------ Media Queries --------------------*/

/* Tablet View --------------------*/
      @media (min-width: 768px) and (max-width: 1023px) {
        .nav .name {
          display: block;
          color: black;
          padding-left: 0%;
        }

        .nav li {
          display: inline-block;
          background-color: whitesmoke;
        } 
        
        .nav{
          display: inline-block;
        }

        .profile-image {
          float: right;
          padding: 7px 5px 0px 20px;
        }

        img{
          /* width: 1%; */
          /* padding: 0px 15px 20px; */
        }
    
        .header {
          /* background: whitesmoke;
          min-height: 300px; */
          /* margin: 20px;
          margin-left: -8px;
          margin-top: -10px;
          padding: 10px 18px 10px 10px; */
          /* text-align: left; */
        }
    
        .header p {
         display: block;
         font-size: 1.5em;
         padding: 0px 5px 0px 50px;
         text-align: left;
        } 
            
.block {
  max-width: 40%;
  padding: 20px;
}

.mobile-view {
  display: none;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 6px;
  border-top: 1px solid rgba(112, 128, 144, 0.575);
}

.footer-nav .name {
  font-size: 1.5em;
  display: block;
  text-align: left;
  margin-right: auto;
  color: black;
  font-family: 'Courgette', cursive;
}

.footer-nav li {
  font-size: 1.25em;
  padding: 15px 10px 15px 10px;
  font-family: 'Pathway Gothic One', sans-serif;
}
 
.footer-nav a {
  text-transform: uppercase;
  text-decoration: none;
  transition: all .5s;
}

.footer-nav a:hover {
  color: rgba(112, 128, 144, 0.575);
}
}


/* Desktop View --------------------*/
@media (min-width: 1024px) {
.nav{
  display: flex;
}

.profile-image {
  float: right;
  padding: 25px 5px 0px 20px;
  
}

.header {
  min-height: 320px;
  margin-top: 0px;
  text-align: left;
}

.header p {
  display: block;
  font-size: 1.5em;
  /* padding-right: 10px; */
  text-align: left;
 } 

.block {
  max-width: 25%;
  padding: 20px;
}

.nav .name {
  padding-left: 3%;
  width: 50%;
  text-align: left;
}

.nav li {
  padding-right: 3%;
  background-color: whitesmoke;
}

.mobile-view {
  display: none;
}

.footer-nav {
  text-align: left;
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 6px;
  border-top: 1px solid rgba(112, 128, 144, 0.575);
}

.footer-nav .name {
  font-size: 1.5em;
  display: block;
  text-align: left;
  margin-right: auto;
  color: black;
  font-family: 'Courgette', cursive;
}

.footer-nav li {
  font-size: 1.25em;
  padding: 15px 10px 15px 10px;
  font-family: 'Pathway Gothic One', sans-serif;
}
 
.footer-nav a {
  text-transform: uppercase;
  text-decoration: none;
  transition: all .5s;
}

.footer-nav a:hover {
  color: rgba(112, 128, 144, 0.575);
}
}

